@media (max-width: 1440px) {

  .name_text {
    padding-left: 34%;
    font-size: 4vw;
    width: 40%;
  }

}

@media (max-width: 1366px) {

  .name_text {
    padding-left: 34%;
    font-size: 4vw;
    width: 44%;
  }

}

@media (max-width: 1024px) {
  .name_text {
    padding-left: 32%;
    padding-top: 3%;
    font-size: 4.5vw;
    width: 50%;
  }

  .logo_picture {
    width: 25%;
    padding-left: 38%;
    padding-top: 2.4%;
  }

}

@media (max-width: 768px) {


  .lower_container {
    width: 200%;
    display: flex;
    flex-direction: column;
  }

  .link {
    border-bottom: 2px solid #fafafa;
  }

  .nav_right {
    padding-top: 26%;
  }

  .marquee-infinite h1 {
      white-space: nowrap;
      width: 100%;
      font-family: 'Loos Latin, Cyrillic Wide';
      font-size: 2.65vw;
      color: #fafafa;
      padding-top: 0.2%;
      padding-bottom: 0.25%;
  }

  .events {
    font-size: 2.65vw;
    left: 39%;
  }

  .store {
    font-size: 2.65vw;
    left: 43%;
  }

  .video {
    font-size: 2.65vw;
    padding: 22% 39%;
    /* left: 43%; */
  }

  .book {
 font-size: 2.65vw;
  }

  .process{
 font-size: 2.65vw;
 margin-left: 43%;
  }

  .about {
    padding-left: 41%;
    font-size: 2.65vw;
  }

  .garden {
    padding-left: 45%;
    font-size: 2.65vw;
  }

  /*BURGER*/

  .header_burger {
    display: block;
    position: relative;
    width: 7%;
    height: 20px;
    z-index: 20;
    left: 95%;
  }

  .header_burger span {
    position: absolute;
    background-color: #353535;
    left: 0;
    width: 100%;
    height: 2px;
    top: 45%;
    transition: all 0.3s ease 0s;
  }

  .header_menu {
    display: block;
    overflow: auto;
    width: 20%;
    height: 100%;
    left: 0;
    top: -100%;
    position: fixed;
    z-index: 20;
    padding-left: 2.43%;
    padding-top: 7%;
    transition: all 0.3s ease 0s;
  }

  .about_us_3, .events_3, .events_30, .store_3, .store_30, .process_3, .garden_3, .video_3, .garden_3 {
    font-family: 'Loos Latin, Cyrillic Wide';
    font-size: 2vw;
    color: #353535;
    padding-top: 0.2%;
    padding-bottom: 0.25%;
    margin-bottom: 3.3%;
  }

  .about_us_30 {
    font-family: 'Loos Latin, Cyrillic Wide';
    font-size: 2vw;
    padding-top: 0.2%;
    padding-bottom: 0.25%;
    color: #B6BFBF;
    margin-bottom: 3.3%;
  }

  .events_30:hover {
    color: #B6BFBF;
  }

  .store_30 {
    margin-top: 0%;
  }

  .events_30 {
    margin-top: 0%;
  }

  .header_burger:before,
  .header_burger:after {
    content: '';
    background-color: #353535;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }


  /*TOGGLE*/

  body.lock {
    overflow: hidden;
  }

  .header_menu.active {
    top: 0;
    width: 100%;
    background-color: #fafafa;
  }

  .header_burger.active span {
    transform: scale(0);
  }

  .header_burger.active:before {
    transform: rotate(45deg);
    top: 45%;
  }

  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 45%;
  }

  /*TOGGLE*/

  /*BURGER*/




  .name_text {
    padding-top: 6%;
    padding-left: 23%;
    font-size: 7vw;
    width: 60%;
}

.name_text_store {
  font-size: 5vw;
}

.marquee-infinite_store h1 {
  font-size: 2vw;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item_upper_2 {
  border-right: none;
}

.item_2, .item_4, .item_6, .item_8  {
  border-right: none;
}

.item_3, .item_9 {
  border-right: 2px solid #353535;
}

.item_9 {
  border-bottom: none;
}

.items {
  border-bottom: 2px solid #353535;
}

.logo_picture {
  width: 45%;
  padding-left: 30%;
  padding-top: 6.5%;
}

.name, .price, .button {
  font-size: 1.7vw;
}

.header_burger {
  width: 11%;
  left: 86%;
  /* top: 6%; */
}

}

@media (max-width: 414px) {

  .name_text {
    padding-left: 34%;
    font-size: 4vw;
    width: 40%;
}

.name_text_store {
  padding-left: 24%;
  padding-right: 94%;
  font-size: 8vw;
  width: 40%;
}

.name, .price, .button {
  font-size: 3.5vw;
}

.item_1, .item_3, .item_5, .item_7, .item_9  {
  border-right: none;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
}

.marquee-infinite_store h1 {
  font-size: 4vw;
}

.header_burger {
  width: 13%;
  left: 85%;
  top: 6%;
}

.about_us_3, .events_3, .store_3, .process_3, .garden_3, .video_3, .book_3{
  font-size: 4vw;
}

}
